<div class="row">
	<div class="col-md-12 col-xs-12" style= "background-image: url(<%= asset_path 'fondoHome.jpg' %>) ;" >
		<img><%= image_tag "logo-vivaInvFoto.png", width: 300, alt: "Invitaciones" %></img>
	</div>
</div>
<div class="row">
	<%= link_to fotografia_path do %>
		<div class="col-xs-4" id="imagenes-home">
			<h2>Fotografía</h2>
		</div>
	<% end %>
	<%= link_to invitaciones_path do %>
		<div class="col-xs-4" id="imagenes-home">
			<h2>Invitaciones</h2>
		</div>
	<% end %>
	<%= link_to contact_path do %>
		<div class="col-xs-4" id="imagenes-home">
			<h2>Contáctanos</h2>
		</div>
	<% end %>
	
</div>