<% provide(:title, "Invitaciones") %>
<div class ="container center">
	<h1>Invitaciones</h1>
	<p>Diseñamos a tu gusto, un estilo de invitación que exprese la esencia de tu evento.<br>Tu evento, tu estilo.</p>

	<small>Diseño y colores pueden ser modificados.</small>
</div>


<div class="row" id="row-galeria-inv">
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/ppuka.jpg", width: 200, alt: "Invitación" %>
		<h4>Puka (Rojo)</h4>
		<p>Una invitación clásica que suma todo los detalles para comunicar la elegancia de tu evento y tu estilo.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/panqhas.jpg", width: 200, alt: "Invitación" %>
		<h4>Anqhas (Azul)</h4>
		<p>Una tarjeta de estilo jovial, con 3 elementos unidos con cinta de yute, que nos dan como resultado una invitación única.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/pyana.jpg", width: 200, alt: "Invitación" %>
		<h4>Yana (Negro)</h4>
		<p>Sobre en 3 cuerpos con parte pegado al interior, conjugando el rojo, negro y blanco con un sello en lacre dandole un toque de distinción.</p>
	</div>
</div>


<div class="row" id="row-galeria-inv">
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/pkhuyay.jpg", width: 200, alt: "Invitación" %>
		<h4>Khuyay (Amor)</h4>
		<p>LLa elegancia y pureza del amor reflejados sobre el papel con un delicado repujado, dando una experiencia única a su tacto.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/psacha.jpg", width: 200, alt: "Invitación" %>
		<h4>Sacha (Árbol)</h4>
		<p>Una mezcla de yute y brillo resaltan el delicado troquelado de las iniciales de los novios. Un estilo rústico pero elegante que nos anticipa un evento inolvidable.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/pkilla.jpg", width: 200, alt: "Invitación" %>
		<h4>Killa (Luna)</h4>
		<p>Sobre con grabado en alto relieve y cerrado con lacre, parte, mapa y sobre de regalo envueltos en papel protector, elementos que crean un estilo sobrio y elegante.</p>
	</div>
</div>



<div class="row" id="row-galeria-inv">
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/ptikay.jpg", width: 200, alt: "Invitación" %>
		<h4>Tikay (Florecer)</h4>
		<p>Las iniciales de los novios se destacan sobre papel nacarado, brindando un detalle más personalizado que invita a apreciar los detalles interiores.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/pyunka.jpg", width: 200, alt: "Invitación" %>
		<h4>Yunka (Tierra cálida andina)</h4>
		<p>Realizada en papel reciclado para mezclar la sencillez con la elegancia de un evento campestre.</p>
	</div>
	<div class="col-md-4 col-xs-6" id="col-galeria-inv">
		<%= image_tag "invitaciones/pmuju.jpg", width: 200, alt: "Invitación" %>
		<h4>Muju (Semilla)</h4>
		<p>Motivos florales adornan el sobre, resaltando así los detalles en conjunto con la delicada flor tridimensional, dando un realce a los elementos interiores.</p>
	</div>
</div>